@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.App {
  position: relative;
}
.App .message {
  position: fixed;
  top: 0;
  border-radius: 50px;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
  margin: 1rem;
  color: white;
  padding: 0.5em 2rem;
  font-size: 1rem;
  z-index: 99999;
}

.container-login {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.card-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 1rem;
  gap: 3rem;
  width: 100%;
  max-width: 30em;
}

/* Logo login */
.logo-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.logo-login__img {
  max-width: 5.5em;
}

.text-logo-1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.text-logo-2 {
  font-weight: 400;
}

.group-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  position: relative;
}
.group-input .error-form {
  position: absolute;
  bottom: -17px;
  left: 0;
  font-size: 0.75em;
  color: red;
}
.group-input__icon {
  font-size: 1.7rem;
  color: rgb(238, 2, 2);
  border-bottom: 3px solid #e1e1e1;
}
.group-input__input {
  padding: 0.45em;
  border: none;
  font-size: 1em;
  border-bottom: 3px solid #e1e1e1;
  width: 20em;
  padding-left: 1.3em;
  border-radius: 5px 5px 0px 0px;
  outline: none;
}
.group-input__input::placeholder {
  color: #bebebe;
}

.form-group__text {
  color: rgb(224, 0, 0);
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-form {
  padding: 0.8rem;
  border: none;
  width: 9em;
  border-radius: 30px;
  background-color: rgb(219, 0, 0);
  color: white;
  font-size: 1.2rem;
  margin-top: 0.5em;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-form:hover {
  background-color: rgb(193.5, 0, 0);
}

.container-home {
  min-height: 100vh;
  background-color: rgb(239.7, 239.7, 239.7);
}
.container-home__nav {
  background-image: linear-gradient(to bottom, rgb(175, 0, 0), rgb(134.2, 0, 0));
}
.container-home__nav__primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0 1rem;
}
.container-home__nav__secundary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1.3rem 0;
}
.container-home__nav__secundary .group-nav-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 51em;
}
.container-home__nav__secundary .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.container-home__nav__secundary .menu i {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.container-home__nav__secundary .menu .menu__text {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}
.container-home__nav__secundary .menu .menu__text .menu__text2 {
  font-weight: 400;
}
.container-home__nav__secundary .menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}
.container-home__nav__secundary .menu-icons i {
  font-size: 1.5rem;
  color: white;
}
.container-home__nav__secundary .menu-icons .username {
  font-weight: 600;
}
.container-home__nav__secundary .menu-icons .card-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  background-color: white;
  border-radius: 25px;
  padding: 4px 1rem 4px 6px;
  cursor: pointer;
  position: relative;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user {
  overflow: hidden;
  left: 13px;
  width: 83px;
  height: 41px;
  background-color: rgb(242.25, 242.25, 242.25);
  position: absolute;
  top: 37px;
  border-radius: 0px 0px 15px 15px;
  border-top: 1px solid rgb(229.5, 229.5, 229.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: showMenuUser 0.5s ease 0s 1 normal forwards;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user ul {
  list-style: none;
  width: 100%;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: all 0.3s ease;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user ul li:hover {
  background-color: rgb(229.5, 229.5, 229.5);
}
.container-home__nav__secundary .menu-icons .card-user .menu-user ul i {
  color: black;
  font-size: 1.3rem;
  margin-right: 5px;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user ul span {
  font-size: 0.95rem;
  font-weight: 500;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user-hidden {
  display: none;
}
.container-home__nav__secundary .menu-icons .card-user .menu-user-show {
  display: flex;
}
@keyframes showMenuUser {
  0% {
    height: 1px;
  }
  100% {
    height: 41px;
  }
}
.container-home__nav__secundary .menu-icons .card-user__img {
  background-color: rgb(220, 220, 220);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-home__nav__secundary .menu-icons .card-user i {
  font-size: 1em;
}
.container-home__nav__secundary .group-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.container-home__nav__secundary .group-search i {
  font-size: 1.7rem;
  color: white;
}
.container-home__nav__secundary .group-search .search {
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  width: 35em;
  outline: none;
  font-size: 0.9rem;
  margin-left: 0.4rem;
  transition: all 0.4s ease;
}
.container-home__nav__secundary .group-search .search:focus {
  padding-left: 1.5em;
}

.container-home__main {
  padding: 0 2rem 2em 2rem;
  height: 75em;
}

.banner-home {
  border: 1px solid white;
  height: 16em;
  margin: 0 auto;
  width: 100%;
  max-width: 61em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: cover;
  border-radius: 5px;
  transition: all 0.5s ease;
  animation: imgBanner 30s ease 0s infinite normal forwards;
}

@keyframes imgBanner {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.group-products {
  width: 100%;
  background-color: transparent;
  max-width: 61em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-product {
  width: 100%;
  height: 9em;
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-template-rows: 1fr;
  column-gap: 1.5rem;
  row-gap: 0;
  background-color: white;
  border-radius: 10px;
  padding-right: 4rem;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(48, 48, 48, 0.144);
  position: relative;
}
.card-product .group-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.card-product__image {
  width: 8rem;
  height: 7em;
  border-radius: 10px;
}
.card-product__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  gap: 4px;
  padding: 1em 0;
  font-size: 0.85em;
}
.card-product__title {
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: uppercase;
}
.card-product__description {
  margin-bottom: 8px;
}
.card-product .preces-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.card-product__website-price {
  font-family: "Doppio One", Helvetica, sans-serif;
  font-weight: 100;
  color: #ed383f;
  font-weight: 600;
  font-size: 1.3rem;
}
.card-product__store-price {
  color: #979797;
  text-decoration: line-through;
  font-size: 1.1em;
}
.card-product__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  background-color: #ed383f;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.card-product__btn i {
  color: white;
  font-size: 1.5rem;
}

.card-fillter-products {
  width: 100%;
  margin: auto;
  max-width: 61em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 0 1.5rem 0;
  color: rgb(165, 163, 163);
}

.selectCategory {
  border: none;
  background-color: transparent;
  outline: none;
  color: gray;
  cursor: pointer;
  font-size: 1rem;
}

.option-category {
  color: black;
  border: none;
}

.footer-home {
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.footer-home .footer__text {
  font-size: 1.2rem;
  font-weight: 500;
}

.group-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.group-pagination .btn-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.container-payment {
  background-color: #f1f4f9;
  min-height: 100vh;
  padding-bottom: 2rem;
}
.container-payment .header-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 2rem 2em;
  box-shadow: 0px 0px 8px rgb(223.15, 229.975, 241.35);
  height: 7em;
  background-color: white;
}
.container-payment .header-payment__title {
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-payment .header-payment__title img {
  width: 2.5rem;
  margin-left: 10px;
}
.container-payment .header-payment__title span {
  font-weight: 400;
}
.container-payment .header-payment .button-andrees {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #cccccc;
  cursor: pointer;
}

.main-payment {
  margin: 3rem auto 0 auto;
  width: 90%;
  max-width: 80em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.main-payment .card-itens-payment {
  background-color: white;
  box-shadow: 0px 0px 8px rgb(205.3, 215.95, 233.7);
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 2.3em 23em;
  column-gap: 0;
  row-gap: 0;
}
.main-payment .card-itens-payment__header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0;
  padding: 0 2rem;
}
.main-payment .card-itens-payment__header__title {
  font-weight: 600;
  font-size: 1.1em;
}
.main-payment .card-itens-payment__header__title span {
  color: #979797;
  font-weight: 500;
}
.main-payment .card-itens-payment__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: #f7f7f7;
  padding: 0 2rem;
}
.main-payment .card-itens-payment__info__text {
  text-transform: uppercase;
  color: #979797;
  font-size: 0.9em;
}
.main-payment .card-itens-payment__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  gap: 0rem;
  padding-bottom: 1.5rem;
  overflow-y: scroll;
  height: 23em;
  /* Estiliza o polegar da barra */
  /* Efeito de hover no polegar */
}
.main-payment .card-itens-payment__content::-webkit-scrollbar {
  width: 10px;
}
.main-payment .card-itens-payment__content::-webkit-scrollbar-track {
  background: #ffffff; /* Cor do trilho da barra */
  border-bottom-right-radius: 100px;
}
.main-payment .card-itens-payment__content::-webkit-scrollbar-thumb {
  background: #ccc; /* Cor do polegar */
  border-radius: 5px;
  cursor: pointer;
  height: 2rem; /* Deixa as bordas arredondadas */
}
.main-payment .card-itens-payment__content::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Cor mais escura ao passar o mouse */
}
.main-payment .card-itens-payment__content__product {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 1em;
  border-bottom: 1px solid #e9e9e9;
  display: grid;
  grid-template-columns: 6em 1fr;
  grid-template-rows: 1fr;
  column-gap: 1em;
  row-gap: 0;
}
.main-payment .card-itens-payment__content__product .group-buttons-item-cart {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  right: 0;
  border-radius: 13px;
  margin: 1rem;
  border: 2px solid black;
}
.main-payment .card-itens-payment__content__product .group-buttons-item-cart__quant {
  width: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-payment .card-itens-payment__content__product .group-buttons-item-cart__btn {
  width: 2em;
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.main-payment .card-itens-payment__content__product .group-buttons-item-cart .btn__1 {
  border-radius: 10px 0px 0px 10px;
  border-right: 2px solid black;
}
.main-payment .card-itens-payment__content__product .group-buttons-item-cart .btn__2 {
  border-radius: 0px 10px 10px 0px;
  border-left: 2px solid black;
}
.main-payment .card-itens-payment__content__product__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-payment .card-itens-payment__content__product__img__img {
  width: 6em;
  height: 5em;
  border-radius: 10px;
}
.main-payment .card-itens-payment__content__product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 0;
  width: 100%;
}
.main-payment .card-itens-payment__content__product__info__title {
  font-weight: 600;
  font-size: 1em;
}
.main-payment .card-itens-payment__content__product__info__desc {
  color: #acaaaa;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 250px;
}
.main-payment .card-itens-payment__content__product__info .group-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.main-payment .card-itens-payment__content__product__info .group-price__btn-rm {
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  color: #aa0011;
  font-weight: 600;
  cursor: pointer;
}
.main-payment .card-itens-payment__content__product__info .group-price__price {
  font-size: 0.9em;
  font-weight: 600;
}

.group-card-tot-payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.group-card-tot-payment .card-tot-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: white;
  width: 25em;
  box-shadow: 0px 0px 8px rgb(205.3, 215.95, 233.7);
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
}
.group-card-tot-payment .card-tot-payment__header, .group-card-tot-payment .card-tot-payment__itens, .group-card-tot-payment .card-tot-payment__freight, .group-card-tot-payment .card-tot-payment__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 1.3rem 1.5rem;
  border-radius: 0 0 5px 5px;
}
.group-card-tot-payment .card-tot-payment__header__text, .group-card-tot-payment .card-tot-payment__itens__text, .group-card-tot-payment .card-tot-payment__freight__text, .group-card-tot-payment .card-tot-payment__total__text {
  font-weight: 500;
}
.group-card-tot-payment .card-tot-payment__header__title {
  font-weight: 600;
  font-size: 1.1em;
}
.group-card-tot-payment .card-tot-payment__itens span {
  color: #686767;
}
.group-card-tot-payment .card-tot-payment__total {
  background-color: #f7f7f7;
}
.group-card-tot-payment .card-tot-payment__total__text-1 {
  color: #686767;
}
.group-card-tot-payment .card-tot-payment__btn {
  background-color: #e02034;
  border: none;
  padding: 1rem 0;
  box-shadow: 0px 0px 8px rgb(169.6, 187.9, 218.4);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
  transition: 0.4s ease all;
}
.group-card-tot-payment .card-tot-payment__btn:hover {
  background-color: rgb(202.3681102362, 28.1318897638, 46.281496063);
}

.empty-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f1f4f9;
  color: #686767;
  font-size: 1em;
}
.empty-cart__btn {
  border: none;
  background-color: transparent;
  color: #e02034;
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
}

.button-cart-home {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #e02034;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgb(127.5, 127.5, 127.5);
  cursor: pointer;
  transition: 0.4s ease all;
}
.button-cart-home:hover {
  background-color: rgb(202.3681102362, 28.1318897638, 46.281496063);
  transform: scale(110%);
}
.button-cart-home i {
  color: white;
  font-size: 1.5rem;
}

.btn-cart-1 {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  right: 0;
  margin: 1em;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #9d0000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgb(127.5, 127.5, 127.5);
  cursor: pointer;
  transition: 0.4s ease all;
}
.btn-cart-1:hover {
  background-color: rgb(202.3681102362, 28.1318897638, 46.281496063);
  transform: scale(110%);
}
.btn-cart-1 i {
  color: white;
  font-size: 1.5rem;
}
.btn-cart-1 .quant-cart {
  position: absolute;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 50%;
  top: -0.2em;
  left: 2.5em;
}

.container-not-found {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 922px) {
  .group-card-tot-payment .card-tot-payment {
    width: 20em;
  }
}
@media screen and (max-width: 842px) {
  .main-payment .card-itens-payment__content__product__info__desc {
    max-width: 100px;
  }
}
@media screen and (max-width: 800px) {
  .main-payment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10em 10em;
  }
  .group-card-tot-payment {
    gap: 2rem;
    grid-row: 1/-1;
  }
  .group-card-tot-payment .card-tot-payment {
    width: 100%;
  }
}
@media screen and (max-width: 615px) {
  .container-home__nav__secundary .group-search .search {
    width: 23em;
  }
  .container-home__main {
    padding: 0 1rem 2em 1rem;
    height: 75em;
  }
}
@media screen and (max-width: 623px) {
  .card-product__info {
    gap: 0;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 578px) {
  .container-payment .header-payment__title {
    font-size: 1.2rem;
  }
  .container-payment .header-payment__title img {
    width: 1.8rem;
    margin-left: 5px;
  }
}
@media screen and (max-width: 521px) {
  .card-product__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 486px) {
  .container-home__nav__secundary .group-search .search {
    width: 20em;
  }
  .container-home__nav__primary .menu-icons {
    gap: 13px;
  }
  .container-home__nav__primary .menu {
    gap: 6px;
  }
  .container-home__nav__primary .menu-icons .username {
    font-size: 0.85em;
  }
  .container-home__nav__primary .menu-icons .card-user__img {
    width: 25px;
    height: 25px;
  }
  .container-home__nav__primary .menu-icons .card-user__img i {
    font-size: 13px;
  }
}
@media screen and (max-width: 487px) {
  .card-product__title {
    font-size: 0.9rem;
  }
  .card-product__website-price {
    font-size: 1rem;
  }
  .card-product__store-price {
    font-size: 1em;
  }
  .card-product {
    column-gap: 0;
    padding-right: 1rem;
  }
  .card-product__btn {
    width: 30px;
    height: 30px;
  }
  .card-product__btn i {
    font-size: 1.15em;
  }
  .card-product .preces-group {
    gap: 6px;
  }
}
@media screen and (max-width: 452px) {
  main {
    height: 70em;
  }
  .card-product {
    height: 8em;
  }
  .currentFilter,
  .selectCategory {
    font-size: 0.8em;
  }
  .card-fillter-products {
    padding: 0 0 1rem 0;
  }
  .banner-home {
    margin-bottom: 1rem;
  }
  .group-input__input {
    width: 18em;
  }
  .container-home__nav__primary .menu i {
    font-size: 1.8rem;
  }
  .container-home__nav__primary .menu .menu__text {
    font-size: 1em;
  }
  .icon-cart,
  .icon-bell {
    font-size: 0.9em;
  }
  .container-home__nav__primary .menu-icons {
    gap: 10px;
  }
  .card-product__title {
    font-size: 1em;
  }
  .card-product__description {
    font-size: 0.78em;
  }
  .card-product__image {
    width: 6em;
    height: 6em;
  }
  .card-product {
    grid-template-columns: 8em 1fr;
  }
  .group-pagination .btn-pagination {
    width: 20px;
    border-radius: 5px;
    font-size: 0.8em;
    height: 20px;
  }
  .container-home__nav__secundary .group-search i {
    font-size: 1.3em;
  }
  .container-home__nav__secundary .group-search .search {
    padding: 0.3em 1em;
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 432px) {
  .container-payment .header-payment .button-andrees {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 400px) {
  .container-home__nav__secundary .group-search .search {
    width: 16em;
  }
  .container-home__nav__primary .menu-icons i {
    font-size: 1.2em;
  }
  .container-home__nav__primary .menu-icons .card-user {
    gap: 3px;
    padding: 4px 8px 4px 6px;
  }
  .container-home__nav__primary .menu-icons .username {
    font-size: 0.8em;
  }
  .container-home__nav__primary .menu .menu__text {
    font-size: 0.9em;
  }
  .container-home__nav__primary .menu i {
    font-size: 1.5rem;
  }
  .main-payment .card-itens-payment__content__product__img__img {
    width: 4em;
    height: 4em;
  }
  .main-payment .card-itens-payment__content__product {
    padding: 1rem;
    grid-template-columns: 4em 1fr;
  }
  .main-payment .card-itens-payment__content__product__info__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100px;
  }
  .main-payment .card-itens-payment__content__product__info__title,
  .main-payment .card-itens-payment__content__product__info__desc,
  .main-payment .card-itens-payment__content__product__info .group-price__btn-rm,
  .main-payment .card-itens-payment__content__product__info .group-price__price {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 380px) {
  .card-product__website-price {
    font-size: 0.8rem;
  }
  .group-input__input {
    width: 16em;
  }
  .card-product__store-price {
    font-size: 0.8em;
  }
  .container-home__nav__secundary .group-search .search {
    width: 14em;
  }
  .container-payment .header-payment .button-andrees {
    padding: 0.5rem 6px;
    font-size: 0.7em;
  }
  .container-payment .header-payment {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 375px) {
  .empty-cart {
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .main-payment .card-itens-payment {
    width: 19em;
  }
}
@media screen and (max-width: 345px) {
  .container-home__nav__primary .menu-icons .card-user__img {
    width: 20px;
    height: 20px;
  }
  .container-home__nav__primary .menu-icons .username {
    font-size: 0.7em;
  }
  main {
    padding: 0 1rem 2em 1rem;
  }
}
@media screen and (max-width: 327px) {
  .main-payment .card-itens-payment {
    width: 18em;
  }
}

/*# sourceMappingURL=styles.css.map */
